@using System.Collections.Generic;;
@using BOL;
@using BLL;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Product List</h1>

    @{
        List<Product> allproducts = (List<Product>)ViewData["prod1"];
       <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
        @foreach (Product p in allproducts)
        {
            <tbody>
                 <tr>
                     <td>@p.Id</td>
                     <td>@p.Name</td>
                     <td>@p.Description</td>
                     <td>@p.Qty</td>
                     <td>@p.Price </td>
                  </tr>
              </tbody>

      
            <!-- <p> <b>Id :</b> @p.Id  <b>Name :</b> @p.Name <b>Desciption :</b>  @p.Description <b>Quantity :</b> @p.Qty  <b>Price :</b> @p.Price </p> -->
        }
        </table>
      
     }


    <p><a href="AddProduct">Add New Product</a>.</p>
</div>
